.understanding {
    position: relative;
}

.understanding::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 40%;
    height: 3px;
    background-color: #0697d5;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.understanding:hover::before {
    opacity: 1;
}

.transforming {
    position: relative;
    min-height: 300px;
}

.transforming-bg {
    color: transparent;
    position: absolute;
    right: 0;
    height: 100%;
    width: 30%;
    top: 65%;
    z-index: 1;
}

.start-to-finish-bg {
    position: absolute;
    left: 0;
    width: 30%;
    bottom: 10%;
    z-index: 0;
    height: 180%;
}

.project-bg {
    position: absolute;
    right: 0;
    width: 30%;
    bottom: 10%;
    z-index: 0;
}

.aroow {
    position: absolute;
    width: 90%;
    left: 5%;
    top: unset;
    bottom: -40%;
}

.newsletter-bg {
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: -60%;
    left: 23%;
}

.ai-powered-before {
    position: absolute;
    left: 0;
    top: -40%;
    width: 20%;
    height: 70%;
    z-index: 9;
}

@media screen and (max-width: 1025px) {

    .aroow {
        position: absolute;
        width: 100%;
        left: 0%;
        bottom: 0%;
    }
}

@media screen and (min-width: 1670px) {
    .aroow {
        position: absolute;
        width: 90%;
        left: 5%;
        top: unset;
    }
}

@media screen and (min-width: 1940px) {

.aroow {
        position: absolute;
        width: 85%;
        left: 7%;
        top: unset;
        bottom: -50%;
    }
}

@media screen and (min-width: 2060px) {

.aroow {
        position: absolute;
        width: 70%;
        left: 15%;
        top: unset;
        bottom: -50%;
    }
}


@media screen and (min-width: 2660px) {

.aroow {
        position: absolute;
        width: 65%;
        left: 17%;
        top: unset;
        bottom: -50%;
    }
}


@media screen and (max-width: 505px) {

    .aroow {
        display: none;
    }
}