@media (min-width: 320px) and (max-width: 425px) {
  .react-calendar {
    width: 100%;
  }
}

.react-calendar {
  border: none;
}

/* calendar.css */ /* calendar.css */
.react-calendar__tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%; /* Makes the buttons circular */
  margin: 5px; /* Adds space around each button */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  transition: background-color 0.3s, color 0.3s;
}

.react-calendar__tile--now {
  background-color: #1294F2; /* Custom background color for today's date */
  color: white; /* Custom text color for today's date */
}

.react-calendar__tile--active {
  background-color: #1294F2; /* Custom background color for selected date */
  color: white; /* Custom text color for selected date */
}

.react-calendar__tile:hover {
  background-color: #ddd; /* Custom background color on hover */
  color: black; /* Custom text color on hover */
}

