@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-[1536px] mx-auto bg-white !important;
  }
  .text {
    @apply lg:text-[16px] md:text-[14px] text-[12.5px];
  }
  .page-pt {
    @apply xl:pt-[80px] pt-[80px] sm:pt-[80px] md:pt-[80px] lg:pt-[90px];
  }
  .page-px {
    @apply sm:px-[25px] md:px-[30px] lg:px-[40px] xl:px-[70px] px-[16px];
  }
  .page-heading {
    @apply xl:text-[42px] md:text-[38px] text-[32px] text-[#474747] font-bold text-center;
  }
  .page-sub-heading {
    @apply lg:text-[31px] sm:text-[28px] text-[25px] text-[#323232];
  }
  .page-blue-heading {
    @apply text-primary sm:text-[16px] text-[14px] satoshi-medium;
  }
  .bg-primaryBlue {
    @apply bg-[#0697D5];
  }
  .bg-secondaryBlue {
    @apply bg-[#0B4D8E];
  }
  .text-primaryBlue {
    @apply text-[#0697D5];
  }
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/assets/fonts/Satoshi-Variable.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("/assets/fonts/Satoshi-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("/assets/fonts/Satoshi-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Satoshi-Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satoshi-Bold", sans-serif;
  font-weight: 700;
}

.satoshi-medium {
  font-family: "Satoshi-Medium", sans-serif;
  font-weight: 500;
}

.satoshi-variable-bold {
  font-family: "Satoshi-Bold", sans-serif;
  font-weight: 700;
}

.satoshi-bold {
  font-family: "Satoshi-Bold", sans-serif;
  font-weight: 700;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
